/******** Global *******/
* {
    font-family: 'Raleway', sans-serif;

}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --footer-bg-color: #D9D9D9;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

.neutral-star {
    color: var(--main-bg-color)
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.main-container {
    width: 100%;
    max-width: 90rem;
    padding: 0 3.125rem;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.section-titre {
    margin: 0;
    font-size: 1.375rem;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.raleway-700 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
}

.raleway-400 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
}

.no-phone {
    display: inline;
}

.only-phone {
    display: none;
}

/****** Barre de navigation *******/
header {
    width: 100%;
    background-color: white;
    margin-bottom: 1.875rem;
    height: 4.938rem;
}

.nav-img {
    height: 100%
}

.nav-img img {
    height: 1.188rem;
    margin-top: 1.875rem;
}

.navbar {
    display: flex;
    height: fit-content;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    block-size: auto;
    padding: 0rem;
    margin: 0rem;
}

.navbar li {
    display: flex;
}

.nav-items {
    text-decoration: none;
    color: black;
    padding: 1rem 0rem;
    margin: 0rem;
    margin-left: 4.313rem;
    border-top-style: solid;
    border-top-color: white;
}

.nav-items:hover {
    color: var(--main-color);
    border-top-color: var(--main-color);
}

/******** Ligne du header ******/
.ligneheader {
    display: flex;
    flex-direction: column;

}

.ligneheader h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    line-height: 1.625rem;
    margin: 0;
    margin-bottom: 0.5rem;
}

.ligneheader p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    line-height: 1.188rem;
    margin-bottom: 2.188rem;
}

/******** Barre de recherche *******/
.search-bar {
    display: flex;
    border-radius: 0.9375rem;
    background: var(--main-bg-color);
    width: fit-content;
    height: 3.0625rem;
    margin: 0rem;
    margin-bottom: 2.1875rem;
}

.search-bar i {
    color: black;
    padding: 0.9375rem 1.125rem 1.125rem 1.125rem;
    font-size: 1.125rem;
}

.search-bar input {
    border: none;
    height: 93%;
    font-size: 1rem;
    padding: 0rem;
    margin: auto 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

}

.search-bar button {
    background: var(--main-color);
    color: white;
    border: none;
    font-size: 1.125rem;
    padding: 0rem 1.25rem;
    border-radius: 0rem 0.9375rem 0.9375rem 0rem;
}

/******* filtres *******/
.filtres {
    display: flex;
    align-items: center;
    margin-bottom: 2.188rem;
}

.block {
    display: block;
}

.filtres-text {
    padding: 0rem;
    margin: 0rem;
    margin-right: 0.938rem;
}

.categories-section {
    list-style: none;
    display: flex;
    padding: 0rem;
    margin: 0rem;
    gap: 0.625rem;
}

.categories {
    border: solid;
    border-radius: 1.563rem;
    border-color: var(--main-bg-color);
    width: fit-content;
    padding: 0.625rem 1.25rem;
    margin: 0rem;
}

.categories i {
    font-size: 1.063rem;
    padding-right: 0.625rem;
    color: var(--main-color);
}

.categories a {
    text-decoration: none;
    align-items: center;
    color: black;
    font-size: 1.063rem;
    line-height: 1.25rem;
}

.categories:hover {
    background: var(--filter-bg-color);
}

.hebergement-disponible {
    display: flex;
    height: 1.5rem;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    margin-bottom: 2.188rem;
}

.hebergement-disponible i {
    margin-top: -0.25rem;
    border: solid 0.0625rem #d9d9d9;
    border-radius: 100%;
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/******** Hébergement et populaires *********/
.hebergements-et-populaires {
    display: flex;
    justify-content: space-between;

}

.hebergements-et-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 1.25rem;
    padding: 1.875rem 1.875rem 0rem 1.875rem;
    box-sizing: border-box;
}

/******* Section hébergement *******/
.hebergement {
    display: flex;
    flex-direction: column;
    width: 65%;
    padding: 0;
}

.hebergement .section-titre {
    margin-bottom: 1.875rem;
}

.hebergement-cards {
    display: inline-grid;
    grid-template-columns: 34% 34% 34%;
    grid-auto-rows: auto;
}

.hebergement-cards a {
    text-decoration: none;
    color: black;
}

.hebergement-cards .card {
    margin-right: 1.875rem;
    margin-bottom: 1.875rem;
}

.hebergement-cards .card-txt {
    padding: 0.625rem;
}

.hebergement-cards .card-title {
    margin-top: 0rem;
    margin-bottom: 0;
    line-height: 1.25rem;
}

.hebergement-cards .card-subtitle {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    line-height: 1.25rem;
}

.hebergement-cards img {
    width: 100%;
    height: 7.75rem;
    object-fit: cover;
    border-radius: 0.9375rem 0.9375rem 0rem 0rem;
}

.card {
    background-color: white;
    border-radius: 1.25rem;
    padding: 0.3125rem;
    filter: drop-shadow(0rem 0.1875rem 0.9375rem rgba(0, 0, 0, 0.1));
}

.section-show {
    margin: 0rem;
    margin-bottom: 1.875rem;
}

.section-show a {
    text-decoration: none;
    color: inherit;
    margin: 0rem;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.3125rem;
    color: #000000;
}

/***** Section Hotels Populaire******/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.875rem;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

.populaires-cards a {
    text-decoration: none;
    color: black;
    display: flex;
    flex: 1;
}

.populaires-cards .card {
    display: flex;
    height: 9rem;
}

.populaires-cards img {
    width: 33%;
    height: auto;
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
    object-fit: cover;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 0.938rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 0.625rem;
    margin-bottom: 0.25rem;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 0.3125rem;
}

/*****Activité *****/
.activite {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 1.875rem;
    margin: 2.1875rem 0 2.1875rem 0;
    padding: 1.875rem;
    padding-top: 0rem;
}

.activite .activite-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    gap: 1.875rem;
}

.activite-cards a {
    text-decoration: none;
    color: black;
    width: 100%;
    min-height: 27.4375rem;
}

.activite-cards .card {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    padding: 0;
    width: auto;
}

.activite-cards img {
    height: 23.75rem;
    width: 100%;
    border-radius: 1.25rem 1.25rem 0rem 0rem;
    object-fit: cover;
    border-image-width: auto;

}

.activite-cards .card-content {
    padding-left: 1.1875rem;
}

.activite-cards .card-title {
    display: flex;
    align-items: center;
    flex: 1;
    margin: 1.25rem 1.1875rem;
}

.activite-cards .card {
    background-color: white;
    border-radius: 1.25rem;
    filter: drop-shadow(0rem 0.1875rem 0.9375rem rgba(0, 0, 0, 0.1));
}

/******** Section bas de page *******/
.footer-section {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    padding: 1.875rem 1.875rem 0rem 1.875rem;
    box-sizing: border-box;
}

.footer-section {
    display: grid;
    grid-template-columns: 34% 34% 34%;
    grid-auto-rows: auto;
}

.footer-article {
    margin: 1.25rem;
}

.footer-article ul {
    list-style: none;
    padding: 0rem;
}

.footer-article li {
    margin-bottom: 0.938rem;
}

.footer-article a {
    text-decoration: none;
    color: black;
}

/******** Tablettes ********/
@media (max-width: 1024px) {

    /****** Hotel et populaire*******/
    .hebergements-et-populaires {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /******* Hotel*******/
    .hebergement-cards .card {
        margin-right: 1.875rem;
        margin-bottom: 1.875rem;
    }

    .hebergement-cards {
        display: inline-grid;
        grid-template-columns: 34% 34% 34%;
        grid-auto-rows: auto;
    }

    .hebergement {
        width: 100%;
        padding-bottom: 4.0625rem;
        margin: 0rem;
        margin-bottom: 3.125rem;
    }

    /******* Populaire *******/
    .populaires-cards .card {
        margin-right: 1.875rem;
        margin-bottom: 1.875rem;
        width: 100%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        gap: 1.875rem;
    }

    .populaires {
        width: 100%;
        padding-bottom: 4.0625rem;
        margin: 0rem;
    }

    .populaires-cards .card-title {
        font-size: 0.875rem;
    }

    .populaires-cards img {
        object-fit: cover;
    }

    .populaires-cards .card-subtitle {
        font-size: 0.8125rem;
    }

    /****** Activités ******/
    .activite-cards a {
        min-height: 16.875rem;
    }

    .activite-cards img {
        height: 12.5rem;
    }
}

/********* Mobiles ********/
@media (max-width: 768px) {
    body {
        margin: 0rem;
    }

    .main-container {
        padding: 0rem;
    }

    .no-phone {
        display: none;
    }

    .only-phone {
        display: inline;
    }

    /***** Header ******/
    header {
        margin-bottom: 1.875rem;
        padding: 0rem;
    }

    .navbar {
        flex-direction: column;

    }

    .nav-img {
        align-self: center;
    }

    .navbar img {
        padding: 0rem;
        margin: 1.875rem 0rem 0.9375rem 0rem;
    }

    .navbar ul {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-auto-rows: auto;
        margin: 0rem;
        padding: 0rem;
    }

    .navbar li {
        border-bottom: 0.125rem solid var(--main-bg-color);
        justify-content: center;
        padding: 0rem;
        margin: 0rem;
    }

    .navbar li:hover {
        border-bottom: 0.125rem solid var(--main-color);
    }

    .navbar li:hover a {
        color: var(--main-color);
    }

    .nav-items a {
        height: 100%;
    }

    .navbar a {
        display: block;
        color: black;
        margin: 0rem;
        border-bottom-style: solid;
        border-bottom-color: white;
        width: 100%;
        text-align: center;
    }

    .navbar a:hover {
        border-top-color: white;
    }

    .ligneheader {
        margin: 5.9375rem 1.25rem 0rem 1.25rem;
        font-size: 1rem;
    }

    .search-bar {
        margin: 0rem 1.25rem;
        margin-bottom: 2.1875rem;
        width: 90%;
    }

    .search-bar input {
        width: 100%;
    }

    .search-bar button {
        border-radius: 0.9375rem;
        box-shadow: 0rem 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.25);
        padding: 0rem;
        margin-left: -1.25rem;
    }

    .filtres {
        flex-direction: column;
        align-items: start;
        margin: 0rem 1.25rem 2.1875rem;
    }

    .filtres-text {
        margin-bottom: 1.25rem;
    }

    .categories-section {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-auto-rows: auto;
        width: 100%;
        padding: 0rem;
        margin: 0rem;
    }

    .categories {
        width: 80%;
        padding: 0.625rem 0rem 0.625rem 1.25rem;
        margin: 0rem;
        justify-content: center;
    }

    .categories .raleway-700 {
        font-size: 0.875rem;
    }

    .hebergement-disponible {
        margin: 2.1875rem 1.25rem 2.1875rem 1.25rem;
    }

    .hebergement-disponible i {
        margin-top: 0.3125rem;
        margin-right: 0.625rem;
    }

    .hebergement-disponible p {
        font-size: 1rem;
    }

    /****** Hébergement et Populaires ******/
    .hebergements-et-populaires {
        flex-direction: column-reverse;
        border-radius: 0rem;
    }

    .hebergements-et-populaires section {
        border-radius: 0rem;
    }

    .hebergements-et-populaires .populaires {
        margin: 0rem;
        padding-top: 1.875rem;
        padding-bottom: 1.875rem;
    }

    /********** Section Hébergement*******/
    .hebergements-et-populaires .hebergement {
        background-color: white;
    }

    .hebergement-cards {
        display: inline-grid;
        grid-template-columns: 100%;
        grid-auto-rows: auto;
    }

    .hebergement-title {
        margin-bottom: 0.9375rem;
    }

    .hebergement-cards .card {
        width: 100%;
    }

    .hebergement {
        width: 100%;
        padding-bottom: 4.0625rem;
        margin: 0rem;
    }

    .hebergement-cards .card {
        width: 100%;
        margin-top: 0rem;
    }

    /******** Section Populaires *******/
    .populaires-title {
        margin-bottom: 0.9375rem;
    }

    .populaires-cards {
        flex-direction: column;
        gap: 0.9375rem;
        font-size: 1.125rem;
        /* font size des étoiles */
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
    }

    .populaires {
        width: auto;
        padding: 0rem 1.875rem;
        padding-bottom: 4.0625rem;
        margin: 0rem;
    }

    .populaires-cards .card {
        width: 100%;
        margin-top: 0rem;
    }

    .populaires-cards img {
        height: 9.125rem;
        object-fit: cover;
    }

    .populaires-cards .card-title {
        font-size: 1rem;
    }

    .populaires-cards .card-subtitle {
        font-size: 0.875rem;
    }

    .hebergement-cards .card-title {
        font-size: 1rem;
    }

    .hebergement-cards .card-subtitle {
        font-size: 0.875rem;
    }

    .section-showmores {
        margin: 0rem;
        font-size: 1.125rem;
    }


    /****** activite *********/
    .activite .activite-cards {
        flex-direction: column;
        gap: 0.9375rem;
    }

    .activite-cards a {
        min-height: 12.5rem;
    }

    .activite-cards img {
        height: 8.8125rem;
    }

    /*******  Footer ********/
    .footer-section {
        grid-template-columns: 100%;
    }

    .footer-article {
        margin: 1.875rem 0rem 0.9375rem 1.875rem;
    }

}