/******** Global *******/
* {
    font-family: 'Raleway', sans-serif;

}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --footer-bg-color: #D9D9D9;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

.neutral-star {
    color: var(--main-bg-color)
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.raleway-700 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
}

.raleway-400 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
}

.no-phone {
    display: inline;
}

.only-phone {
    display: none;
}

/****** Barre de navigation *******/
header {
    width: 100%;
    background-color: white;
    margin-bottom: 1.875rem;
    height: 4.938rem;
}

.nav-img {
    height: 100%
}

.nav-img img {
    height: 1.188rem;
    margin-top: 1.875rem;
}

.navbar {
    display: flex;
    height: fit-content;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    block-size: auto;
    padding: 0px;
    margin: 0px;
}

.navbar li {
    display: flex;
}

.nav-items {
    text-decoration: none;
    color: black;
    padding: 1rem 0px;
    margin: 0px;
    margin-left: 4.313rem;
    border-top-style: solid;
    border-top-color: white;
}

.nav-items:hover {
    color: var(--main-color);
    border-top-color: var(--main-color);
}

/******** Ligne du header ******/
.headline {
    display: flex;
    flex-direction: column;

}

.headline h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    line-height: 1.625rem;
    margin: 0;
    margin-bottom: 0.5rem;
}

.headline p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    line-height: 1.188rem;
    margin-bottom: 2.188rem;
}

/******** Barre de recherche *******/
.search-bar {
    display: flex;
    border-radius: 15px;
    background: var(--main-bg-color);
    width: fit-content;
    height: 49px;
    margin: 0px;
    margin-bottom: 35px;
}

.search-bar i {
    color: black;
    padding: 15px 18px 18px 18px;
    font-size: 18px;
}

.search-bar input {
    border: none;
    height: 93%;
    font-size: 16px;
    padding: 0px;
    margin: auto 0;
    text-align: center;
}

.search-bar button {
    background: var(--main-color);
    color: white;
    border: none;
    font-size: 18px;
    padding: 0px 20px;
    border-radius: 0px 15px 15px 0px;
}

/******* filters *******/
.filters {
    display: flex;
    align-items: center;
    margin-bottom: 2.188rem;
}

.block {
    display: block;
}

.filters-text {
    padding: 0px;
    margin: 0px;
    margin-right: 0.938rem;
}

.categories-section {
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 0px;
    gap: 0.625rem;
}

.categories {
    border: solid;
    border-radius: 1.563rem;
    border-color: var(--main-bg-color);
    width: fit-content;
    padding: 0.625rem 1.25rem;
    margin: 0px;
}

.categories i {
    font-size: 1.063rem;
    padding-right: 0.625rem;
    color: var(--main-color);
}

.categories a {
    text-decoration: none;
    align-items: center;
    color: black;
    font-size: 1.063rem;
    line-height: 1.25rem;
}

.categories:hover {
    background: var(--filter-bg-color);
}

.available-accomodation {
    display: flex;
    height: 24px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    margin-bottom: 2.188rem;
}

.available-accomodation i {
    margin-top: -4px;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/******** Hébergement et populaires *********/
.accomodation-and-popular {
    display: flex;
    justify-content: space-between;

}

.accomodation-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 1.25rem;
    padding: 1.875rem 1.875rem 0px 1.875rem;
    box-sizing: border-box;
}

/******* Section hébergement *******/
.accomodation {
    display: flex;
    flex-direction: column;
    width: 65%;
    padding: 0;
}

.accomodation .section-title {
    margin-bottom: 1.875rem;
}

.accomodation-cards {
    display: inline-grid;
    grid-template-columns: 34% 34% 34%;
    grid-auto-rows: auto;
}

.accomodation-cards a {
    text-decoration: none;
    color: black;
}

.accomodation-cards .card {
    margin-right: 1.875rem;
    margin-bottom: 1.875rem;
}

.accomodation-cards .card-txt {
    padding: 0.625rem;
}

.accomodation-cards .card-title {
    margin-top: 0px;
    margin-bottom: 0.188rem;
    line-height: 1.25rem;
}

.accomodation-cards .card-subtitle {
    margin-bottom: 0.188rem;
    line-height: 1.25rem;
}

.accomodation-cards img {
    width: 100%;
    height: 7.75rem;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.card {
    background-color: white;
    border-radius: 1.25rem;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.section-show {
    margin: 0px;
    margin-bottom: 1.875rem;
}

.section-show a {
    text-decoration: none;
    color: inherit;
    margin: 0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 21px;
    color: #000000;
}

/***** Section Hotels Populaire******/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards a {
    text-decoration: none;
    color: black;
}

.populaires-cards .card {
    display: flex;
    margin-top: 1.875rem;
    height: 9rem;

}

.populaires-cards img {
    width: 33%;
    height: auto;
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 0.938rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 0.625rem;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*****Activité *****/
.activity {
    margin: 65px 0 35px 0;

}

.activity .section-title {
    margin: 1.25rem 0px 1.25rem 0px;
}

.activity .activity-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}

.activity-cards a {
    text-decoration: none;
    color: black;
}

.activity-cards .card {
    width: 100%;
    height: auto;
    margin-right: 1.875rem;
    padding: 0px;
    
}

.activity-cards img {
    height: 23.75rem;
    width: 100%;
    border-radius: 1.25rem 1.25rem 0px 0px;
    object-fit: cover;
    border-image-width: auto;
}
.activity-cards .card-content{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;
  align-items: center;
}

/******** Section bas de page *******/
.footer-section {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    padding: 1.875rem 1.875rem 0px 1.875rem;
    box-sizing: border-box;
}

.footer-section {
    display: grid;
    grid-template-columns: 34% 34% 34%;
    grid-auto-rows: auto;
}

.footer-article {
    margin: 1.25rem;
}

.footer-article ul {
    list-style: none;
    padding: 0rem;
}

.footer-article li {
    margin-bottom: 0.938REM;
}

.footer-article a {
    text-decoration: none;
    color: black;
}

/******** Tablettes ********/
@media(width >=769px) and (width <=1024px) {

    /****** Hotel et populaire*******/
    .accomodation-and-popular {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /******* Hotel*******/
    .accomodation-cards .card {
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .accomodation-cards {
        display: inline-grid;
        grid-template-columns: 34% 34% 34%;
        grid-auto-rows: auto;
    }

    .accomodation {
        width: 100%;
        padding-bottom: 65px;
        margin: 0px;
        margin-bottom: 50px;
    }

    /******* Populaire *******/
    .populaires-cards .card {
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .populaires-cards {
        display: inline-grid;
        grid-template-columns: 34% 34% 34%;
        grid-auto-rows: auto;
    }

    .populaires {
        width: 100%;
        padding-bottom: 65px;
        margin: 0px;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards img {
        object-fit: cover;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /****** Activités ******/
    .activity {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    .activity-cards .card {
        width: 100%;
        height: auto;

    }

    .activity-cards .card-title {
        font-size: 16px;
        margin: 0px;
        padding: 20px 19px;
        text-align: initial;
    }

    .activity-cards img {
        height: 200px;

    }

}

/********* Mobiles ********/
@media (width <=769px) {
    body {
        margin: 0px;
    }

    .main-container {
        padding: 0px;
    }

    .no-phone {
        display: none;
    }

    .only-phone {
        display: inline;
    }

    /***** Header ******/
    header {
        margin-bottom: 30px;
        padding: 0px;
    }

    .navbar {
        flex-direction: column;

    }

    .nav-img {
        align-self: center;
    }

    .navbar img {
        padding: 0px;
        margin: 30px 0px 15px 0px;
    }

    .navbar ul {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-auto-rows: auto;
        margin: 0px;
        padding: 0px;
    }

    .navbar li {
        border-bottom: 2px solid var(--main-bg-color);
        justify-content: center;
        padding: 0px;
        margin: 0px;
    }

    .navbar li:hover {
        border-bottom: 2px solid var(--main-color);
    }

    .navbar li:hover a {
        color: var(--main-color);
    }

    .nav-items a {
        height: 100%;
    }

    .navbar a {
        display: block;
        color: black;
        margin: 0px;
        border-bottom-style: solid;
        border-bottom-color: white;
        width: 100%;
        text-align: center;
    }

    .navbar a:hover {
        border-top-color: white;
    }

    .headline {
        margin: 95px 20px 0px 20px;
        font-size: 16px;
    }

    .search-bar {
        margin: 0px 20px;
        margin-bottom: 35px;
        width: 90%;
    }

    .search-bar input {
        width: 100%;
    }

    .search-bar button {
        border-radius: 15px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 0px;
        margin-left: -20px;
    }

    .filters {
        flex-direction: column;
        align-items: start;
        margin: 0px 20px 35px;
    }

    .filters-text {
        margin-bottom: 20px;
    }

    .categories-section {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-auto-rows: auto;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }

    .categories {
        width: 80%;
        padding: 10px 0px 10px 20px;
        margin: 0px;
        justify-content: center;
    }

    .categories .raleway-700 {
        font-size: 14px;
    }

    .available-accomodation {
        margin: 35px 20px 35px 20px;
    }

    .available-accomodation i {
        margin-top: 5px;
        margin-right: 10px;
    }

    .available-accomodation p {
        font-size: 16px;
    }

    /****** Hébergement et Populaires ******/
    .accomodation-and-popular {
        flex-direction: column-reverse;
        border-radius: 0px;
    }

    .accomodation-and-popular section {
        border-radius: 0px;
    }

    .accomodation-and-popular .populaires {
        margin: 0px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    /********** Section Hébergement*******/
    .accomodation-and-popular .accomodation {
        background-color: white;
    }

    .accomodation-cards {
        display: inline-grid;
        grid-template-columns: 100%;
        grid-auto-rows: auto;
    }

    .accomodation-title {
        margin-bottom: 15px;
    }

    .accomodation-cards .card {
        width: 100%;
    }

    .accomodation {
        width: 100%;
        padding-bottom: 65px;
        margin: 0px;
    }

    .accomodation-cards .card {
        width: 100%;
        margin-top: 0px;
    }

    /******** Section Populaires *******/
    .populaires-title {
        margin-bottom: 15px;
    }

    .populaires-cards {
        flex-direction: column;
        gap: 15px;
        font-size: 18px;
        /* font size des étoiles */
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
    }

    .populaires {
        width: auto;
        padding: 0px 30px;
        padding-bottom: 65px;
        margin: 0px;
    }

    .populaires-cards .card {
        width: 100%;
        margin-top: 0px;
    }

    .populaires-cards img {
        height: 146px;
        object-fit: cover;
    }

    .populaires-cards .card-title {
        font-size: 16px;
    }

    .populaires-cards .card-subtitle {
        font-size: 14px;
    }

    .accomodation-cards .card-title {
        font-size: 16px;
    }

    .accomodation-cards .card-subtitle {
        font-size: 14px;
    }

    .section-showmores {
        margin: 0px;
        font-size: 18px;
    }


    /****** activity *********/
    .activity {
        padding: 0px 30px;
        padding-bottom: 65px;
        margin: 0px;
        
    }

    .activity .section-title {
        margin: 30px 0px;
    }

    .activity .activity-cards {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .activity-cards .card {
        width: 100%;
        height: fit-content;
    }

    .activity-cards img {
        height: 141px;
    }

    .activity-cards .card-title {
        font-size: 16px;
        margin: 0px;
        padding: 20px 19px;
        text-align: center;
    }

    .activity-cards .card-content {
        height: fit-content;

    }

    /*******  Footer ********/
    .footer-section {
        grid-template-columns: 100%;
    }

    .footer-article {
        margin: 30px 0px 15px 30px;
    }

}